<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="hyva_admin_grids" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hyva Admin Grids Columns</label>
                <field id="printcatalog_attribute" translate="label comment" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Available Columns in Product Grid</label>
                    <frontend_model>Catgento\AdminGrids\Block\System\Config\Form\Field\Attribute</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[Selected attributes here will be displayed by default in the column grid]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
